* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {}

.display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(106, 231, 92, 0.8), rgba(198, 225, 195, 0.7));
}


.header {
    height: 40%;
    position: relative;

}

.header-title {
    font-family: "inter", sans-serif;
    position: absolute;
    bottom: 0;
    padding: 3vh;
}


.background-img {
    height: 100%;
    background-image: url(Images/salad.png);
    opacity: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}


.underground {
    display: flex;
    height: 60%;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
}



.login-account,
.register-account {
    width: 100%;

}

.login-box,
.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form p,
.register-form p {
    text-align: center;
    font-size: 6%;
    padding: 3% 0;
}





.rectangle-icon {
    width: 12%;
    height: 0.3%;
    justify-content: center;
    background-color: #000000;
    margin: auto;
    margin-top: 4%;
    border-radius: 3%;
}



.input-email,
.input-password {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}



.input-email label,
.input-password label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 5%;
}



.input-email input,
.input-password input {
    background-color: #5FAD56;
    color: #525252;
    width: 82vw;
    padding: 1.5%;
    font-size: 3.5%;
    border-radius: 2%;
    border: none;
}

.input-password .linkpassword-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.5rem;
}

#link-forgotpassword,
#link-register {
    font-size: 3%;
    color: #000000;
    margin-top: 0.5rem;
}



#link-forgotpassword {
    font-size: 3%;
    color: #000000;
}

.login-button,
.register-button {
    width: 80%;
    padding: 2%;
    margin: 3% auto;
    background-color: #5FAD56;
    color: #FFFFFF;
    font-size: 4%;
    border-radius: 2%;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
}


.register-button {
    text-align: center;
    font-size: 4vw;
    padding: 1.5rem;
}

.register-button p {
    display: inline;
    font-size: 3vw;
}