* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'inter', sans-serif;
    }



.display {
    position: relative;
    max-width: 100vh;
    height: 100vh;
    padding: 2rem;
    margin: 0 auto;
}



.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    transform: translateX(-10%);
    z-index: 10;
}



.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(106, 231, 92, 0.8), rgba(198, 225, 195, 0.7));
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 {
    position: absolute;
    font-family: "inter", sans-serif;
    font-size: 7vw;
    top: 80vw;
    z-index: 50;
}



.join-account {
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    margin: 50vh auto 0;
}



.login-form p {
    text-align: center;
    font-size: 6vw;
    padding: 5vh 0;
}



.rectangle-icon {
    width: 12vh;
    height: 0.3vh;
    justify-content: center;
    background-color: #000000;
    margin: auto;
    border-radius: 20px;
}



.input-email, .input-password {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-email label, .input-password label {
    margin-bottom: 0.5rem;
    font-size: 5vw;
    transform: translateX(-110%);
}

.input-email label {
    transform: translateX(-243%);
}

.input-email input, .input-password input {
    background-color: #5FAD56;
    color: #525252;
    width: 86vw;
    padding: 1rem;
    font-size: 3.5vw;
    border-radius: 30px;
    border: none;
}


#link-forgotpassword, #link-register {
    font-size: 3vw;
    color: #000000;
    text-align: center;
    display:inline-block;
    margin-top: 0.5rem;
}

#link-forgotpassword {
    transform: translateX(60%);
}

.login-button {
    width: 100%;
    padding: 1rem;
    margin: 2rem auto 0;
    background-color: #5FAD56;
    color: #FFFFFF;
    font-size: 4vw;
    border-radius: 30px;
    text-align: center;
    border: none;
}


.register-button {
    text-align: center;
    font-size: 4vw;
    padding: 1.5rem;
}

.register-button p {
    display: inline;
    font-size: 3vw;
}









